@charset "ISO-8859-1";

body {
	margin: 10% 20%;
}

.container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-self: center;
	align-items: left;
	background-color: rgba(132,206,235,0.6);
	width: 75%;
	margin: auto;
	border-radius: 10px;
}

form {
	width: 100%;
	margin: 5%;
}

.col {
	margin: 0%;
}

h1 {
	color: #5680E9;
	background-color: transparent;
}

button {
	margin: 15px 0px;
}

.container .checkbox {
	font-weight: 400;
}

.form-control:focus {
	z-index: 2;
}

.container input[type="email"] {
	margin-top: -10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.container input[type="password"] {
	margin-top: -10px;
	border-radius: 10px;
}