@charset "ISO-8859-1";

body {
	margin: 5% 20%;
}

@media (max-width: 978px) {
	body {
		margin: 5% 5%;
	}
	.sign-in {
		width: 100%;
	}
}

.sign-in {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-self: center;
	align-items: left;
	background-color: rgba(3, 12, 84, 0.8);
	border-radius: 10px;
	color: white;
}

form {
	width: 100%;
	margin: 5%;
}

.col {
	margin: 0%;
}

h1 {
	color: white;
	background-color: transparent;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: rgba(195, 15, 15, 1);
}

.btn-primary {
	background-color: rgba(195, 15, 15, 1);
	color: white;
	outline-color: rgba(195, 15, 15, 1);
	box-shadow: none;
	border: none;
	outline: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: rgba(195, 15, 15, 1);
}

button {
	margin: 15px 0px;
}

.title {
	background-color: transparent;
	margin-bottom: 20px;
	text-align: center;
	color: rgba(3, 12, 84, 0.8);
	font-size: 200%;
}

.container .checkbox {
	font-weight: 400;
}

.form-control:focus {
	z-index: 2;
}

.container input[type="email"] {
	margin-top: -10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.container input[type="password"] {
	margin-top: -10px;
	border-radius: 10px;
}